.main{  
    &__components{
        display: flex;
        justify-content: space-evenly;
    }

    &__card{
      
    }
}

.main__card{
    margin-top: 4px;
}

.container{
    width: 80%;
    margin: 0 10%;
}

