<div class="main">
    <div class="container">
      <ngb-alert type="danger" [dismissible]="false" *ngIf="isUserExist">
        <strong>Warning!</strong>username {{userExist}} exist 
      </ngb-alert>
      <div class="main__components">
        <app-form-component (user)="user($event)"></app-form-component>
        <div>
        <app-card-component
          *ngFor="let item of userList"
          [cardDetail]="item"
          (userCard)="removeUserCard($event)"
        ></app-card-component>
      </div>
      </div>
    </div>
  </div>
  