* {
  outline: none;
}

form {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0 16px;
  border-radius: 5px;

  input,
  button {
    margin: 8px 8px;
    padding: 8px 4px;
  }

  input {
    display: block;
    border-radius: 5px;
  }

 
}
