<form [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
    <h1>register user</h1>
    <input formControlName="name" placeholder="name" />
    <input formControlName="age"   (input)="ageChange($event.target.value)" type="number" placeholder="age" />
    <button class="btn btn-primary" [disabled]="disableButton" > submit</button>
</form>
