<div class="card" *ngIf="cardDetail">
<p class="card__name" >name: {{cardDetail.name}} </p>    
<p class="card__age">age: {{cardDetail.age}}</p>    
<button (click)="remove(cardDetail.id)">remove</button>
</div>

